<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>518学车网先学后付---确认班型</title>
		<link rel="stylesheet" type="text/css" href="/public/xxhf/css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="/public/xxhf/css/confirm_class.css"/>
		<script src="/public/xxhf/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/xxhf/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/xxhf/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="title">
					<img class="back" src="/public/xxhf/images/back.png"/>
				<span>确认班型</span>
			</div>
			<div class="overtime">
				<h1>1.您确认在<span style="text-decoration: underline;">**市**机动车驾驶培训有限公司</span>办理驾驶员培训考试业务，双方约定在三个月内完成对您的驾驶技能培训。</h1>
				<h2>2.您可以选择如下班型：</h2>
				<table border="1">
					<thead>
						<tr>
							<th>驾照类型</th>
							<th>班型</th>
							<th>总费用</th>
							<th>选择意向</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>C1/C2</td>
							<td>悠学班</td>
							<td>套餐价：4200元</td>
							<td><input name="Fruit" type="radio" value="" /></td>
						</tr>
						<tr>
							<td>C1/C2</td>
							<td>悠学班</td>
							<td>套餐价：4200元</td>
							<td><input name="Fruit" type="radio" value="" /></td>
						</tr>
						<tr>
							<td>C1/C2</td>
							<td>悠学班</td>
							<td>套餐价：4200元</td>
							<td><input name="Fruit" type="radio" value="" /></td>
						</tr>
						<tr>
							<td>C1/C2</td>
							<td>悠学班</td>
							<td>套餐价：4200元</td>
							<td><input name="Fruit" type="radio" value="" /></td>
						</tr>
					</tbody>
				</table>
				<div class="nextbtn">
					<button>
						下一步
					</button>
				</div>
			</div>
			
		</div>
	</body>
</html>
