<!doctype html>
<html lang="en">
<head>
    <title>教练管理</title>
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/public/assets/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/img/favicon.png">
</head>
<style>
    .input-error{
        border-color:red;
    }
    .inline-tip {

        color:red;

    }
     .col-center-block {
	    float: none;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	#list{
		border: 1px solid #666666;
		/*margin: 50px 0;*/
		float: left;
	}
	
	#list tr{
		
	}
	
	#list tr td{
		/*padding: 15px 25px;*/
		border: 1px solid #222222;
	}
	
	.choose label{
		display: inline-block;
	}
</style>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        {include file="public/header"}
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                {include file="public/left"}
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main" >
        <!-- MAIN CONTENT -->
        <div class="main-content" align="center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-center-block" style="width: 1300px" >
                        <!-- FORM START -->
                        <div class="panel" align="center"  style="width: 1200px">
                            <div class="panel-heading">
                                <h3 class="panel-title">添加教练套餐</h3>
                            </div>
                            <div class="panel-body">
                                <form id="form1" action="" method="post">
                                    <div align="left" id="type">
	                                    <label for="" >驾照类型:</label>
	                                    <div class="choose choose5">
	                                    	{volist name="jiazhao" id="v"}
		                                        <label class="fancy-checkbox">
													<input type="checkbox" name="jiazhaoleixing" value="{$v.name}" text="{$v.name}" >
													<span>{$v.name}</span>
	                                            </label>
		                                    {/volist}
	                                    </div>
	                                    <!--<br>-->
	                                    <label for="" >科目类型:</label>
	                                    <div class="choose choose4">
	                                    	{volist name="kemu" id="v"}
		                                        <label class="fancy-checkbox">
													<input type="checkbox" name="kemuleixing" value="{$v.name}" text="{$v.name}" >
													<span>{$v.name}</span>
	                                            </label>
		                                    {/volist}
	                                    </div>
	                                    <!--<br>-->
	                                    <label for="" >考场类型:</label>
	                                    <div class="choose choose3">
	                                    	{volist name="kaochang" id="v"}
		                                        <label class="fancy-checkbox">
													<input type="checkbox" name="kaochangleixing" value="{$v.name}" text="{$v.name}" >
													<span>{$v.name}</span>
	                                            </label>
		                                    {/volist}
	                                    </div>
	                                    <!--<br>-->
	                                    <label for="" >车辆类型:</label>
	                                    <div class="choose choose2">
	                                    	{volist name="chexing" id="v"}
		                                        <label class="fancy-checkbox">
													<input type="checkbox" name="cheliangleixing" value="{$v.name}" text="{$v.name}" >
													<span>{$v.name}</span>
	                                            </label>
		                                    {/volist}
	                                    </div>
	                                    <!--<br>-->
	                                     <label for="" >服务类型:</label>  
	                                      <div class="choose choose1">
	                                           
	                                            {volist name="service" id="v"}
	                                                <label class="fancy-checkbox">
	                                                    <input type="checkbox" name="fuwuleixing" value="{$v.name}" text="{$v.name}" >
	                                                    <span>{$v.name}</span>
	                                                </label>
	                                            {/volist}
	                                        </div>
	                                    <br>
	
										 
	                                  
	                                  	<label for="" >教练名称:</label>    
	                                    <select class="form-control" id="user_type" name="jl_list">
	                                    {volist name="jl_list" id="v"}
	                                        <option value="{$v.cid}">{$v.name}</option>
	                                    {/volist}
	                                    </select>
                                        <br>
	                                    <!--<br>-->
                                  </div>
                                  
                                  <table id="list"></table>
                                  
                                    <!--<button class="submit btn btn-primary" >提交</button>-->
                                    <input class="submit btn btn-primary" type="button" name="" id="" value="提交" return="false" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        
        
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        {include file="public/footer"}
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/public/assets/vendor/jquery/jquery.min.js"></script>
<script src="/public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/public/assets/scripts/klorofil-common.js"></script>
<script   type="text/javascript"  charset=“utf-8”>
//获取选中复选框的二维数组
var taocans = [];
function getCheckArr(elem) {
    var arr = [];
    $('#type div').each(function() {
        var me = $(this),
            checkeds = me.find(':checked');
        if (checkeds.length) {
            var temp = [];
            checkeds.each(function() {
                temp.push($(this).val())
            })
            arr.push(temp);
        }
    })
    console.log(arr)
    return arr;
}

function getArr(arr) {

    function run(arr) {
        var len = arr.length;
        if (len < 2) {
            return arr[0];
        } else {
            var len1 = arr[0].length;
            var len2 = arr[1].length;
            var temp = [];
            for (var i = 0; i < len1; i++) {
                for (var j = 0; j < len2; j++) {
                    temp.push(arr[0][i] + ',' + arr[1][j]);
                }
            }
            var newarr = arr.slice(2);
            if (newarr.length) {
                newarr.unshift(temp);
                return run(newarr)
            }
            return temp
        }
    }

    var res = run(arr);
    if (!res) {
        return '';
    }
    var len = res.length;
    for (var i = 0; i < len; i++) {
        res[i] = res[i].split(',')
    }
    console.log(res);
    return res;

}

function resetTable(data) {
    var tpl = '';

    var arr = getArr(getCheckArr());

    var temp = [];

    $.each(arr, function(k, v) {
        tpl += '<tr>';
        $.each(v, function(key, val) {
            tpl += getCell(v.slice(0, key + 1).toString(), key, val);
        })
        tpl += '<td><input class="taocans" type="number" value=""></td><td></td><td></td>';
        tpl += '</tr>';
    })

    function getCell(val, index, value) {
        var i;
        if ($.inArray(val, temp) === -1) {
            i = 0;
            temp.push(val);
            $.each(arr, function(k, v) {
                if (v.slice(0, index + 1).toString() == val) {
                    i++;
                }
            })
        }
        if (i && i >= 1) {
            return '<td rowspan="' + i + '">' + value + '</td>'
        }
        return '';
    }

    $('#list').html(tpl)
    console.log(arr);
    taocans = arr;
}

$(':checkbox').click(function() {
    resetTable();
});

NAME=false;
AREA=false;
PASSWORD=false;
  function my_submit() {
 
    if($("input[name='name']").val()==""){
        $("input[name='name']").addClass('input-error');
        return;
    }
    if($("input[name='type']").val()==""){
        $("input[name='type']").addClass('input-error');
        return;
    }
    if($("input[name='area']").val()==""){
        $("input[name='area']").addClass('input-error');
        return;
    }
    // if($("input[name='username']").val()==""){
    //     $("input[name='username']").addClass('input-error');
    //     return;
    

    // }

    if($("input[name='password']").val()==""){
        $("input[name='password']").addClass('input-error');
        return;
    }
}

    //获取名称
   $("input[name='class']").blur(function(){
          var  name=$(this).val();
            if(name==''){
            $("input[name='class']").addClass('input-error');
            //alert('商品名称不能为空');
            NAME=false;
            }else{
            $("input[name='class']").removeClass('input-error'); 
            NAME=true;
            }
    })
   
   //表单提交事件
//  $("form").submit(function(){
//  	console.log("提交按钮");
//      //让input 触发失去焦点事件
//      $("input").trigger("blur");
//      if(price){
//          return true;
//      }else{
//          return false;
//      }
//  });
//	var taocans = [];
//	taocans
//	for (var i = 0; i < taocans.length; i++) {
//		console.log(taocans[i] + "第" + i + "个");
//	}
	var taoc = document.getElementsByClassName("taocans");
	$(".submit").click(function(){
		for (var i = 0; i < taocans.length; i++) {
		
			taocans[i].push($(".taocans:eq(" + i + ")").val());
		}

	
			if ($(this).val()) {
			
				//console.log(taocans);
				
                var coach_id=$("#user_type option:selected").val();

				$.ajax({
					type:"post",
					url:"/index.php/Admin/setmeal/ceshi_taocan",
                  	data:{taocans:taocans,coach_id:coach_id},
					success:function(data){
						alert(data);
					},
					
				});
				
			}else{
				return false;
			}
	
	});

</script>

</body>

</html>
