<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>518学车网-保障服务</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/home/css/Web_app_common.css"/>
    <link rel="stylesheet" type="text/css" href="/public/home/css/applicate01.css">
    <script src="/public/home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/home/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <style>
    </style>
</head>

<body>
    <!--标题-->
    <div class="title" style="top:0">
        <a href="javascript:history.back(-1)">  
            <img class="back" src="/public/home/images/back.png"/>
            <span>基础资料</span>
        </a>
    </div>
    
    <!-- 进度步骤 -->
    <div class="schedule">
       <ul>
         <li></li>
         <li></li>
         <li></li>
       </ul>
    </div>

    <div class="Information"> 
        <ul>
          <li>
            <p class="Phone_num">
              手机号码
            </p>
            <p class="number">
              136****6038
            </p>
          </li>
          <li>
            <input type="text" placeholder="请输入您的真实姓名">
          </li>
          <li>
            <input type="text" placeholder="请输入您的身份证号码">
          </li>
          <li>
            <select name="" id="">
              <option value="">请选择您的学历</option>
              <option value="">小学</option>
              <option value="">初中</option>
              <option value="">高中</option>
              <option value="">专科</option>
              <option value="">本科</option>
              <option value="">硕士</option>
              <option value="">博士</option>
            </select>
          </li>
          <li style="border-bottom: none;">
            <a href="">提交</a>
          </li>
        </ul>
    </div>
</body>
</html>
