<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>518学车网-定制班型</title>
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <link rel="stylesheet" type="text/css" href="/public/home/css/Web_app_common.css"/>
	    <link rel="stylesheet" type="text/css" href="/public/home/css/Security_service.css">
	     <link rel="stylesheet" type="text/css" href="/public/home/css/banxing.css">
	    <script src="/public/home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	    <script src="/public/home/js/rem.js" type="text/javascript" charset="utf-8"></script>
	    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
	    <style>
	        #jiege{position:fixed;bottom: 0;right: 0;width: 1rem;text-align: right;}
	        .bandetail>img{
	        	width: 5.8rem;
	        	height: 4.55rem;
	        }
	    </style>
	</head>
	<body>
	    <!--标题-->
	    <div class="title" style="top:0">
	        <a href="javascript:history.back(-1)">  
	            <img class="back" src="/public/home/images/back.png"/>
	            <span>定制班型</span>
	        </a>
	    </div>
	    <div class="wrapper" style="margin-top: 0.95rem; border-top: 1px solid transparent;">
	        <div class="tit">
	            <img src="/public/home/images/bantit.png" alt="">
	        </div>
	        <div class="chushi">
	            <div class="banlist">
	                <div class="banitem shi" id="shi">
	                    <img src="/public/home/images/banchoseshi.png" alt="">
	                </div>
	                <div class="banitem bao" id="bao">
	                    <img src="/public/home/images/banchosebao.png" alt="">
	                </div>
	                <div class="banitem wu" id="wu">
	                    <img src="/public/home/images/banchosewu.png" alt="">
	                </div>
	                <div class="banitem qi" id="qi">
	                    <img src="/public/home/images/banchoseqi.png" alt="">
	                </div>
	            </div>
	            <h3>对于我们所承诺的服务，我们做如下保证，并接受您的监督、反馈：</h3>
	            <p>
	            （1）履行我们所承诺的服务标准，严格执行、担当责任、贴心服务，对于违反服务承诺的行为做到积极响应，快速处理、勇于承担，为驾培行业的健康、诚信发展提供助力。
	            </p>
	            <p>
	            （2）尊重学员、用语文明，不刁难和辱骂学员。拒绝服务态度恶劣、坚决杜绝粗暴教学。
	            </p>
	            <p>
	            （3）恪守职业道德，遵守廉洁规定，坚决杜绝“吃、拿、卡、要”等违规行为。
	            </p>
	            <p>
	            （4）监督教学过程，以“讲的清楚、说的明白、示范到位、矫正及时”为准则，在教学中平等待人，不偏心、不偏教、严谨执教、积极施教。
	            </p>
	            <p>
	            （5）按照《机动车驾驶培训教学与考试大纲》的要求开展教学工作。
	            </p>
	            <p>
	            （6） 公开收费标准，一次性收费，透明公开，不乱收费，不设置低价陷阱。
	            </p>
	            <p>
	            （7）  对于车容车貌、车辆技术状况，严格贯彻公安车辆管理部门规定，不因车辆原因影响正常教学。
	            </p>
	            <p>
	            再次感谢您选择我们的服务，欢迎您对我们的服务进行反馈，我们将以最快的速度、最好的态度，竭诚保障您的学车权益！
	            </p>
	        </div>
	        <div class="bandetail">
	            <div class="choseimg">
					<img src="/public/home/images/bandetailshi.png" alt="">
	            </div>
	            <div class="ser">
	                <h3>服务内容：</h3>
	                <p>（1）学员在学车考试过程中所需缴纳的档案费、面签、体检、照相、资料管理费、训练费均由518学车网保证一次性缴费。</p>
	                <p>（2）为学员定制科目二科目三十天内的VIP集中训练方案。</p>
	                <p>（3）免除学员考试过程中所产生的补考费。</p>
	                <p>（4）免除学员因超过规定的考试次数导致档案作废，需要重新报名所产生的重学费用。</p>
	                <p>（5）免除学员考试过程中，因适应考试场地而产生的适应性训练费用。</p>
	                <p>（6）为学员提供专业教练1对1指导训练。</p>
	                <p>（7）为学员提供训练、考试来回接送服务。</p>
	                <p>（8）承诺在学车过程中，不再以任何名目收取学员任何培训费用。</p>
	                <p>（9）对于征信符合要求的学员，可享受先学车后付款的服务。</p>
	            </div>
	            <!-- <div class="price">
	                <h3>服务价格：</h3>
	                <p>￥5980</p>
	            </div> -->
	           <!--  <table>
	                <thead>
	                    <tr >
	                        <td width='100'></td>
	                        <td>518学车网</td>
	                        <td>XX驾校</td>
	                    </tr>   
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>学习时间</td>
	                        <td>以客户需求调配</td>
	                        <td rowspan="3">驾校调度</td>
	                    </tr>
	                    <tr>
	                        <td>培训教练</td>
	                        <td>518实地认证，合格率85%的专业教练</td>
	                       
	                    </tr>
	                    <tr>
	                        <td>培训周期</td>
	                        <td>十天完成培训</td>
	                    </tr>
	                    <tr>
	                        <td>培训方案</td>
	                        <td>1对1 定制方案</td>
	                        <td>排队练车</td>
	                    </tr>
	                    <tr>
	                        <td>培训车型</td>
	                        <td>全新车辆、全新空调、全程模拟、舒适稳定</td>
	                        <td>旧款车、无空调、稳定性较弱</td>
	                    </tr>
	                    <tr>
	                        <td>支付方式</td>
	                        <td>一次付清，先学后付</td>
	                        <td>无</td>
	                    </tr>
	                </tbody>
	            </table> -->
	            <img class="shows" src="/public/home/images/shitian.png" alt="">
	            <button class="yuebtn">提交预约</button>
	        </div>
	        <div class="countmask">
	            <div class="count">
	                <h4>
	                	<img src="/public/home/images/518xueche.png" alt="">
	                </h4>
	                <i class="guan"></i>
	                <ul>
	                    <li class="jine">
							支付金额: 
							<span class="price">￥5980</span>
	                    </li>
	                    <li>
	                        <h5 class="">定制班型</h5>
	                        <p>
	                            <span class="chosespan dingzhibanxing">十天班</span>
	                            <!-- <span>七天班</span><span>五天班</span><span>保过班</span> -->
	                        </p>
	                    </li>
	                    <li>
	                        <h5>支付方式</h5>
	                        <p class="pays">
	                            <span class="chosespan pay1">面对面</span>
	                            <span class="pay2">先学后付</span>
	                            <span class="pay3">在线支付</span>
	                        </p>
	                    </li>
	                </ul>
	                <button class="confirm">确认</button>
	            </div>
	        </div>
	    </div>
	</body>
	{include file="public/ji"}
	<script type="text/javascript">
		
		// 定义一个变量记录支付方式
		var method = 0;
		var paymethod = "面对面";
		// console.log(method);
		
	    $(".count ul li p span").click(function(){
	        $(this).addClass("chosespan").siblings().removeClass("chosespan")
	    })
	    $(".count>i").click(function(){
	        $(".countmask").hide('slow');
	    })
	    $(".bandetail").on("click",function(e){
	        var e = e || window.event; //浏览器兼容性 
	         console.log(e)
	        var elem = e.target || e.srcElement;
	        while (elem) { //循环判断至跟节点，防止点击的是div子元素 
	            console.log(elem)
	            if (elem.className != 'yuebtn') {
	                console.log(111)
	                $(".bandetail").hide('slow');
	                $(".chushi").show('slow');
	                return;
	            }
	            return false;
	        }
	        $(".countmask").show('slow');
	    })
	    $(".bandetail>button").click(function(){
			$(".countmask").show('slow');
	    })
	    $(".chushi .banlist .banitem").click(function(){
	        var s = $(this).attr("id")
			$.ajax({
				type: 'POST',
				url: "/index.php/index/index/banxing_info",
				data:{s:s},
				success:function (data){
					//console.log(data);
					//console.log(typeof(data));
					// console.log(data.name);
					//console.log(data.name.content);
					//console.log(typeof(data.name.content));
					$(".ser").html("");
					$(".choseimg").html("");
					// var img = document.createElement("img");
					var img = '<img src="' + data.name.pic + '" alt="">';
					// img.attr("src",data.name.pic);
					var ele = document.createElement("div");
					// "<h3>服务内容：</h3>" + data.name.content
					ele.innerHTML = "<h3>服务内容：</h3>" + data.name.content;
					$(".ser").html(ele);
					if (data.name.pic2) {
						$(".shows").show();
						$(".bandetail>img").prop({"src":data.name.pic2});
					}else if (!data.name.pic2) {
						$(".shows").hide();
					}
					$(".choseimg").html(img);
					// 改变支付金额
					$(".price").html(data.name.price);
					// 改变定制班型
					$(".dingzhibanxing").html(data.name.ban);
					console.log(data.name.pic2);
				},
				error:function(err){
					console.log(err);
				}
			});
	       $(".chushi").hide("slow");
	       $(".bandetail").show("slow");
	    });
	    
	    // 选择支付方式
	    $(".pays span").click(function(){
	    	console.log($(this));
	    	console.log($(this).index());
	    	console.log($(this).html());
	    	method = $(this).index();
	    	paymethod = $(this).html();
	    });
	    
	    // 点击确认按钮
	    $(".confirm").click(function(){
	    	console.log(method);
	    	var price = $(".price").html();
	    	var dingzhi = $(".dingzhibanxing").html();
	    	if (method != 2) {
	    		// 面对面支付和先学后付支付
	    		console.log(method);
	    		console.log("面对面支付或者先学后付支付");
	    		$.ajax({
	    			type:"post",
	    			url:"/index.php/index/banxing/banxing",
	    			async:true,
	    			data:{price:price,content:dingzhi,type:paymethod},
	    			success:function(data){
	    				console.log(data);
	    				console.log(typeof(data));
	    				var datase = JSON.parse(data);
	    				if (datase.code == 2) {
	    					window.location.href = datase.msg;
	    				} else{
	    					alert(datase.msg);
	    				}
	    			},
	    			error:function(err){
	    				console.log(err);
	    			}
	    		});
	    	}
	    	if (method == 2) {
	    		// 在线支付
	    		console.log(method);
	    		console.log("在线支付");
	    		$.ajax({
	    			type:"post",
	    			url:"/index.php/index/Pay/add_order",
	    			async:true,
	    			data:{price:price,content:dingzhi,type:"3"},
	    			success:function(data){
	    				console.log(data);
	    				console.log(typeof(data));
	    				console.log(JSON.parse(data));
	    				var datas = JSON.parse(data);
	    				if (datas.code == 2) {
	    					window.location.href = datas.msg;
	    				} else{
	    					alert(datas.msg);
	    				}
	    			},
	    			error:function(err){
	    				console.log(err);
	    				console.log("出错了");
	    			}
	    		});
	    	}
	    });
	    
		console.log($(window).width())
		console.log($(window).height())
		$(".countmask").width($(window).width())
		$(".countmask").height($(window).height())
	</script>
</html>

