<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>518学车网-金牌驾校</title>
    <link rel="stylesheet" type="text/css" href="/public/home/css/Web_app_common.css"/>
    <link rel="stylesheet" type="text/css" href="/public/home/css/Driveschool_entrance.css"/>
    <script src="/public/home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
     <script src="/public/home/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/home/js/rem.js" type="text/javascript" charset="utf-8"></script>
</head>
  <style>
    #jiege{position:fixed;bottom: 0;right: 0;width: 1rem;text-align: right;}
  </style>
<body>
    <!-- 金牌驾校 -->
    <div class="Drive_school">
        <a href="javascript:history.back(-1)"><img class="back" src="/public/home/images/back.png"/></a>
        <span>驾校</span>
    </div>
      <!-- 驾培金融 -->
    <div class="Driving_training">
        <h1>驾培金融</h1>
        <div class="Driving_jianshe">
            <div class="Driving_jianshe_left">
                <img class="lazy" src="/public/home/images/jianshe.jpg" alt="">
            </div>
            <div class="Driving_jianshe_right">
                <p class="name">建设金融</p>
                <p class="content">平安银行新一贷为驾校建设，规模扩建，设备跟新，设备采购租赁，学员服务等提供无忧贷款服务。</p>
            </div>
        </div>
        <div class="Pingan">
            <div class="Pingan_xian"></div>
            <div class="Pingan_name">
                平安银行新一贷
            </div>
        </div>
        <div class="Pingan_feature">
            <ul>
                <li>
                    <p>
                        无需抵押
                    </p>
                    <p>
                        无需担保
                    </p>
                
                </li>
                <li>
                    <p>
                        额度高达50万
                    </p>
                </li>
                <li>
                    <p>
                        放款快
                    </p>
                    <p>
                        利率低
                    </p>
                    <p>
                        还款灵活
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 设备班型 -->
    <div class="Equipment_type" style="min-height: 4.0rem;">
         <h1>设备支持</h1>
         <div class="Branch_two" >
            <h2 style="text-align: center;">科目二/科目三模拟考试系统</h2>
            <div class="Branch_two_img" style="overflow: hidden;" >
                <!-- <img class="lazy" src="/public/home/images/moni0.jpg" alt=""> -->
                <img class="lazy" src="/public/home/images/moni1.png" alt="">
                <img class="lazy" src="/public/home/images/moni2.png" alt="">
               <!--  <img class="lazy" src="/public/home/images/moni3.jpg" alt="">
                <img class="lazy" src="/public/home/images/moni4.jpg" alt=""> -->
                <!-- <img src="/public/home/images/branch3.png" alt=""> -->
            </div>
         </div>
         <p style="text-align: center;">助力驾校打造 <!-- <span style="color:#e83530"> -->品质驾培服务<!-- </span> -->!</p>
       
    </div>

  
    
    <!-- 交管支持 -->
    <div class="traffic_suppose">
        <h1>交管支持</h1>
        <div class="item">
            <div class="item_title">
                <p>生源信息</p>
                <table>
                    <tr style="height: .5rem;">
                        <th style="width: 1.2rem;">科目<img src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.6rem;">报考学员<img  src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.6rem;">考试状态<img  src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.1rem;">是否通过</th>
                    </tr>
                    <tr>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                    </tr>
                    <tr>
                        <td style="width: 1.6rem;">王美丽</td>
                        <td style="width: 1.6rem;">王美丽</td>
                        <td style="width: 1.6rem;">王美丽</td>
                        <td style="width: 1.6rem;">王美丽</td>
                    </tr>
                    <tr>
                        <td style="width: 1.6rem;">一次已考</td>
                        <td style="width: 1.6rem;">一次已考</td>
                        <td style="width: 1.6rem;">一次已考</td>
                        <td style="width: 1.6rem;">一次已考</td>
                    </tr>
                    <tr>
                        <td style="width: 1.1rem;">是</td>
                        <td style="width: 1.1rem;">是</td>
                        <td style="width: 1.1rem;">是</td>
                        <td style="width: 1.1rem;">是</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <div class="item_title">
                <p>整体合格率</p>
                <table>
                    <tr style="height: .5rem;">
                        <th style="width: 1.2rem;">科目<img src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.6rem;">月份<img  src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.6rem;">考试状态<img src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.1rem;">合格率</th>
                    </tr>
                    <tr>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                    </tr>
                    <tr>
                        <td style="width: 1.6rem;">1月</td>
                        <td style="width: 1.6rem;">1月</td>
                        <td style="width: 1.6rem;">1月</td>
                        <td style="width: 1.6rem;">1月</td>
                    </tr>
                    <tr>
                        <td style="width: 1.6rem;">一次已考</td>
                        <td style="width: 1.6rem;">一次已考</td>
                        <td style="width: 1.6rem;">一次已考</td>
                        <td style="width: 1.6rem;">一次已考</td>
                    </tr>
                    <tr>
                        <td style="width: 1.1rem;">98%</td>
                        <td style="width: 1.1rem;">98%</td>
                        <td style="width: 1.1rem;">98%</td>
                        <td style="width: 1.1rem;">98%</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <div class="item_title">
                <p>教练合格率</p>
                <table>
                    <tr style="height: .5rem;">
                        <th style="width: 1.2rem;">科目<img  src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: .8rem;">月份<img src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.1rem;">教练<img src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.3rem;">考试状态<img  src="/public/home/images/whitejiao.png" alt=""></th>
                        <th style="width: 1.1rem;">合格率</th>
                    </tr>
                    <tr>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                        <td style="width: 1.2rem;">科目一</td>
                    </tr>
                    <tr>
                        <td style="width: .8rem;">1月</td>
                        <td style="width: .8rem;">1月</td>
                        <td style="width: .8rem;">1月</td>
                        <td style="width: .8rem;">1月</td>
                    </tr>
                    <tr>
                        <td style="width: 1.1rem;">王淑娟</td>
                        <td style="width: 1.1rem;">王淑娟</td>
                        <td style="width: 1.1rem;">王淑娟</td>
                        <td style="width: 1.1rem;">王淑娟</td>
                    </tr>
                    <tr>
                        <td style="width: 1.3rem;">一次已考</td>
                        <td style="width: 1.3rem;">一次已考</td>
                        <td style="width: 1.3rem;">一次已考</td>
                        <td style="width: 1.3rem;">一次已考</td>
                    </tr>
                    <tr>
                        <td style="width: 1.1rem;">98%</td>
                        <td style="width: 1.1rem;">98%</td>
                        <td style="width: 1.1rem;">98%</td>
                        <td style="width: 1.1rem;">98%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 增值服务 -->
    <div class="add_service">
        <h1>增值服务</h1>
        <ul>
            <li>
                <img class="lazy" src="/public/home/images/service1.jpg" alt="">
                <p>驾考保</p>
                <!-- <span>驾校套用，</span><br> -->
                <span>招生带来新突破</span>
            </li>
            <li>
                <img class="lazy" src="/public/home/images/service3.jpg" alt="">
                <p>先学后付</p>
                <!-- <span>驾校套用，</span><br> -->
                <span>增加生源获得收益</span>
            </li>
            <li>
                <img class="lazy" src="/public/home/images/service2.jpg" alt="">
                <p>教练保</p>
                <!-- <span>驾校套用，</span><br> -->
                <span>拥有优质教练</span>
            </li>
        </ul>
    </div>
</body>
{include file="public/ji"}
</html>
<script>
    $("img.lazy").lazyload({effect: "fadeIn"});
</script>
