<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>518学车网-新闻详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/home/css/Web_app_common.css"/>
    <link rel="stylesheet" type="text/css" href="/public/home/css/Security_service.css">
     <!-- <link rel="stylesheet" type="text/css" href="/public/home/css/newslist.css"> -->
    <script src="/public/home/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/home/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">
	.newsdetail{
		width: 6rem;
		padding:0 0.2rem;
	}
	.newsdetail h3{
		width: 6rem;
		text-align: center;
		font-size: 0.3rem;
		line-height: 0.5rem;
	}
	.newsdetail p{
		width: 6rem;
		text-align: left;
		font-size: 0.24rem;
		line-height: 0.5rem;
		margin-bottom: 0.1rem;
	}
    </style>
</head>
<body>
	 <div class="title" style="top:0">
        <a href="javascript:history.back(-1)">  
            <img class="back" src="/public/home/images/back.png"/>
            <span>新闻详情</span>
        </a>
    </div>
     <div class="wrapper " style="margin-top: 0.95rem; border-top: 1px solid transparent;">
	     <div class="newsdetail">
	     	<h3>{$news.title}</h3>
	      	<p>{$news.content}</p>
	      	
	     </div>
      	
    </div>
</body>
</html>