<!doctype html>
<html lang="en">
<head>
    <title>仓库管理系统-个人信息修改</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/public/assets/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/public/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/assets/img/favicon.png">
</head>
<style>
    .input-error{
        border-color:red;
    }
     .col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

</style>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        {include file="public/header"}
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                {include file="public/left"}
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main" >
        <!-- MAIN CONTENT -->
        <div class="main-content" align="center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6  col-center-block" style="width: 1000px">
                        <!-- FORM START -->
                        <div class="panel" align="center"  style="width: 400px">
                            <div class="panel-heading">
                                <h3 class="panel-title">修改信息</h3>
                            </div>
                            <div class="panel-body" style="padding-top: 0px;">
                                <form id="form1" action="" method="post" >
                                    <div align="left">
                                    <label for="">姓名：</label>
                                    <input type="text" class="form-control" name="name" placeholder="姓名" value="{$user_info.name}">
                                    <label for="" style="margin-top: 8px;">负责区域：</label>
                                    <input type="text" class="form-control" name="area" placeholder="负责区域" value="{$user_info.area}">
                                    <label for="" style="margin-top: 8px;">联系电话：</label>
                                    <input type="text" class="form-control" name="mobile" placeholder="联系电话" value="{$user_info.mobile}"  onkeyup="value=value.replace(/[^\d]/g,'')">
                                    <label for="" style="margin-top: 8px;">电子邮箱：</label>
                                    <input type="text" class="form-control" name="e_mail" placeholder="电子邮箱" value="{$user_info.e_mail}">
                                    <label for="" style="margin-top: 8px;">收货地址：</label>
                                    <input type="text" class="form-control" name="shipping_address" placeholder="收货地址" value="{$user_info.shipping_address}">
                                    <br>
                                    <input type="hidden" name="info_id"  value="{$user_info.info_id}">
                                    </div>
                                    <button class="btn btn-primary" >提交</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        {include file="public/footer"}
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/public/assets/vendor/jquery/jquery.min.js"></script>
<script src="/public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/public/assets/scripts/klorofil-common.js"></script>

<script >
MOBILE=false;
    function my_submit() {

        if($("input[name='name']").val()==""){
            $("input[name='name']").addClass('input-error');
            return;
        }
        if($("input[name='type']").val()==""){
            $("input[name='type']").addClass('input-error');
            return;
        }
        if($("input[name='area']").val()==""){
            $("input[name='area']").addClass('input-error');
            return;
        }
    }

//手机号
    $("input[name='mobile']").blur(function(){
         
            //获取手机号
            var p=$(this).val();
            //正则匹配
            if(p.match(/^[1][3,4,5,7,8,9][0-9]{9}$/)==null){
                 $("input[name='mobile']").addClass('input-error');  
                    MOBILE=false;
            }else if(p==''){
                  $("input[name='mobile']").addClass('input-error');  
                    MOBILE=false;
             

            }else{

                 $("input[name='mobile']").removeClass('input-error');  
                    MOBILE=true;

            }

      })
 
    // //邮箱失去焦点事件
    // $("input[name='e_mail']").blur(function(){
      
    //     //获取邮箱值
    //     var  email=$(this).val();
    //     //正则匹配
    //     if(email.match(/^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/)==null){
              
    //         $("input[name='e_mail']").addClass('input-error');
    //         alert('邮箱格式不正确');
    //         EMAIL=false;
    //     }else if(email==''){

    //            $("input[name='e_mail']").addClass('input-error');
    //              EMAIL=false;
    //     }else{


    //          $("input[name='e_mail']").removeClass('input-error'); 
    //          EMAIL=true;


    //     }    

    // })


 //表单提交事件
    $("form").submit(function(){
        //让input 触发失去焦点事件
        $("input").trigger("blur");
        
        if(MOBILE){
            return true;


        }else{
          
            return false;

        }

    })



</script>

</body>

</html>
